<div class="product-modal-details shadow">
    <span class="modal-close">&times;</span>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="product-images-wrapper-modal">
                <div class="featured-modal-image">
                    <img id="featuredImage" src="" alt="">
                </div>
                <div class="product-img-thumb">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="right-modal-details-content">
               <div class="availability-stock">
                   <span>Status </span> <span id="availability">In stock</span>
               </div>
               <h3 class="product-title" id="productTitle">Product full name here</h3>
               <div class="product-reviews">
                   <img src="{{ 'star.png' | asset_img_url:'master' }}" alt="">
                   <span class="reviews-count">12 reviews</span>
               </div>
               <div class="product-price">
                   <span class="product-price-span" id="productPrice">$50</span>
                   <span class="product-price-span" id="onSalePrice">$60</span>
                   <span class="vat" id="vatInclude">(+15% Vat Included)</span>
               </div>

               <div class="upsell-product-sell">
                20 Products sold in last 12 hours
               </div>
               <hr style="border: 1px solid #E0E0E0;">
              <form action="#" id="addToCartModalForm">
                  <div class="product-quantity-select">
                      <span>Quantity </span>
                      <div class="product-qty-main">
                          <button type="button" class="qty minus" id="minus">-</button>
                          <button type="button" class="qty main-qty" id="qtyCount">1</button>
                          <button type="button" class="qty plus" id="plus">+</button>
                      </div>
                      <span class="left-product">Only !<span id="leftProductCount"> </span> Item Left!</span>
                  </div>
                    <input type="hidden" name="id" class="prdouctSelct">
                    <input type="hidden" name="quantity" id="quantity">
                    <div class="add-cart-buy-now-btn">
                        <button type="submit" id="addToCartModal" class="btn btn-success">Add To Cart</button>
                    </div>
                    {{ form | payment_button }}
               
                </form>

               <div class="product-meta-info-modal">
                   <div class="single-meta-info-box">
                       <span class="product-meta-title">
                           sku
                       </span>
                       <span class="sku-count" id="skuNumber">3435345</span>
                   </div>
                   <div class="single-meta-info-box">
                       <span class="product-meta-title">
                        category
                       </span>
                       <span class="product-category" id="productCategory">Food</span>
                   </div>

                   <div class="single-meta-info-box">
                    <span class="product-meta-title">
                     Tags
                    </span>
                    <span class="product-tags" id="productTags">Food, Fruits, Vegetables</span>
                </div>
               </div>
            </div>
        </div>
    </div>
</div>