<div class="product-quantity-select">
    <span>Quantity </span>
    <div class="product-qty-main">
        <button type="button" class="qty minus" id="minus">-</button>
        <button type="button" class="qty main-qty" id="qtyCount">1</button>
        <button type="button" class="qty plus" id="plus">+</button>
    </div>
    <span class="left-product">Only !<span id="leftProductCount"> </span> Item Left!</span>
</div>