<section class="reset-password-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="reset-password-wrapper">
          {% form 'reset_customer_password' %}

          {% if form.errors %}
            <div class="alert alert-warning">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <div class="form-floating mb-3">
            <input class="form-control" type="password" value="" name="customer[password]" size="16" />
            <label for="password">Password</label>
          </div>

          <div class="form-floating mb-3">
          <input
            type="password"
            value=""
            class="form-control"
            name="customer[password_confirmation]"
            size="16"
          />
          <label for="password_confirmation">Password Confirmation</label>
          </div>

          <button type="submit" class="btn btn-primary w-100 rounded-0" value="Reset Password" >Reset Password</button>

          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>
