

<section class="featured-collection section-padding">
    <div class="section-title text-center">
        <h2>{{ section.settings.title }}</h2>
    </div>
    <div class="container">
        <div class="featured-collection-inner">
            {% for product in collections[section.settings.collection].products limit: 6 %}
                {% snipets 'product-card' %}
            {% endfor %} 
        </div>
    </div>
</section>



{% schema %}
{
    "name": "Featured Collection",
    "class": "featured-collection-mela",
    "settings":[
        {
            "type": "collection",
            "id":"collection",
            "label":"Featured Collection"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Collection Title",
            "label": "Collection Title"
        },
        {
           "type": "checkbox",
           "id": "second-image-hover",
           "label": "Enable Second Image on hover"
        }
    ],
    "presets":[
        {
            "name": "Featured Collection",
            "category":"Collections"
        }
    ]
}
{% endschema %}